<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
<%- include('./partial/navbar.ejs') %>


<div class="row row-cols-1 row-cols-md-4">
    <% articles.forEach(article => { %>
    <div class="form-group">
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a class="nav-link" href="/articles/<%= article._id %>"><%= article.title %></a></h5>
                    <p class="card-text"><%= article.text %></p>
                </div>
                <a class="btn btn-primary" href="/update/<%= article._id %>">Update</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>
</body>
</html>
